<%# Hero %>
<header class='relative hero bg-black w-full flex h-screen flex-col justify-center items-center text-white md:px-40 py-20'>
  <div class="w-full flex">
    <div class="hidden md:flex border-b-4 border-white flex-grow my-auto mr-10"></div>
    <h1 class='text-3xl md:text-4xl lg:text-6xl xl:text-8xl mx-auto uppercase font-semibold w-max'>Marcus Thorne</h1>
    <div class="hidden md:flex border-b-4 border-white flex-grow my-auto ml-10"></div>
  </div>

  <p class="text-2xl md:text-3xl uppercase mt-5">Web Developer</p>

  <div class="flex text-2xl space-x-4 mt-10">
    <a href="https://github.com/MarcusThorne" class="border rounded w-12 h-12 border-white flex items-center justify-center transform hover:scale-110 transition duration-500"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/marcus-thorne-a046541b4/" class="border rounded w-12 h-12 border-white flex items-center justify-center transform hover:scale-110 transition duration-500"><i class="fab fa-linkedin-in"></i></a>
  </div>

  <a href="#projects" class="text-xl mt-20 text-white border border-white px-10 py-2 uppercase transform hover:scale-110 transition duration-500 rounded">Portfolio</a>
  <a href="#about"><%= image_tag("white-arrow-down.png", class: "absolute right-5 md:right-20 bottom-5 md:bottom-16 w-20 md:w-32 opacity-70 transition duration-500 transform hover:scale-125") %></a>
</header>

<%# Navbar %>
<nav class="bg-blue-400 w-full sticky top-0 flex md:justify-center space-x-10 text-gray-200 shadow z-50 relative" style="height: 4.5rem;">
  <%= link_to "./Marcus%20Thorne.pdf", class:"hover:scale-105 transform rounded duration-300 border-2 border-gray-700 px-4 py-2 hidden md:flex absolute left-10 top-4 text-gray-800 flex justify-center items-center space-x-2 border-blue-300 hover:border-blue-200 " do %>
    <p class="font-semibold">CV</p>
    <i class="fas fa-download"></i>
  <% end %>

  <% @navlinks.each do |link| %>
    <a href="#<%= link.downcase %>" class="<%= @navlinkClasses %> hover:scale-110 transition duration-500"><%= link %></a>
  <% end %>
  <p id="hamburger" class="md:hidden absolute text-2xl top-5 text-white"><i class="fas fa-bars"></i></p>

  <div class="flex absolute right-10 text-gray-800 text-2xl space-x-5 top-6">
    <a href="https://github.com/MarcusThorne" class="flex items-center justify-center transform hover:scale-125 transition duration-500 hover:text-black"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/marcus-thorne-a046541b4/" class="flex items-center justify-center transform hover:scale-125 transition duration-500 hover:text-black"><i class="fab fa-linkedin-in"></i></a>
  </div>

  <%# Mobile navbar %>
  <div id="hamburgerBackground" class="w-screen h-screen hidden" style="margin-left: 0 !important;">
    <div id="hamburgerMenu" class="link absolute flex flex-col rounded-b shadow-xl z-40 px-20 bg-blue-300 w-max text-center transform transition duration-500 -left-full" style="top: 4.5rem; transform: translate(-50%, 0); margin-left: 0 !important;">
      <% @navlinks.each do |link| %>
        <a href="#<%= link.downcase %>" class="link pt-5 pb-6 border-b-4 md:border-b-0 md:border-t-4 transition duration-300 border-transparent"><%= link %></a>
      <% end %>
      <%= link_to "./Marcus%20Thorne.pdf", class:"text-gray-700 rounded flex justify-center items-center space-x-2 mb-6 mt-5 border-2 border-blue-300 hover:border-blue-200 p-2 w-max mx-auto", target: '_blank' do %>
        <p class="font-semibold">CV</p>
        <i class="fas fa-download"></i>
      <% end %>
    </div>
  </div>
</nav>

<%# About me %>
<div id="about" class="flex flex-col md:flex-row justify-center mt-10 p-5 md:p-0 md:pb-40 md:px-40 md:m-40 border-b border-gray-200 pb-20 md:mx-auto" style="max-width: 1800px;">
  <%= image_tag("marcus.jpg", class: "ml-auto w-80 mx-auto mt-auto md:my-auto rounded shadow-xl") %>

  <div class="mt-10 md:mt-0 ml-5 md:ml-20">
    <h1 class="text-4xl w-full flex justify-center mb-10 text-blue-400">About Me</h1>
    <p>I am 25 years old from a small town in North Devon called Barnstaple. I attended Petroc College to obtain a Level 3 Diploma in Furniture Making. Moving forward, I took a job in Groundworks but ultimately decided it wasn't going to be a career. Finally discovering computer programming at the age of 24, I decided to take a course at Le Wagon, now I'm looking for my first role.</p>
    <p class="mt-5">I enjoy web/software development and love to work around the challenges it presents. I'm always keen to learn more. I possess a clear, logical mind with a practical approach to problem-solving and a drive to see things through to completion. I have a good eye for details and always ensure my work is accurate.</p>

    <div class="flex space-y-2 md:space-y-0 md:space-x-5 mt-10 flex-col md:flex-row">
      <a href="#contact" class="border border-gray-300 px-10 py-2 uppercase w-max rounded shadow-md hover:bg-gray-900 hover:text-white transition duration-300">Contact Me</a>
      <a href="#portfolio" class="border border-gray-300 px-10 py-2 uppercase w-max rounded shadow-md hover:bg-gray-900 hover:text-white transition duration-300">See Portfolio</a>
    </div>
  </div>
</div>

<%# Projects %>
<div class="mt-40 w-full flex flex-col justify-center text-center lg:px-20" id="projects">
    <h1 class="text-6xl text-gray-800 mb-1">Projects</h1>
    <p class="text-gray-500">Check out my personal Projects</p>

        <%# arrows for slick carousel %>
      <%# <div class="flex text-gray-600 hidden md:flex">
        <p class="prev cursor-pointer mt-auto rounded-l border border-gray-300 px-10 py-2 uppercase w-max hover:shadow-md transform transition hover:scale-105 duration-300 mr-2 hover:bg-blue-400 hover:text-white" style="height: max-content;"><i class="fas fa-chevron-left"></i></p>
        <p class="next cursor-pointer mt-auto rounded-r border border-gray-300 px-10 py-2 uppercase w-max hover:shadow-md transform transition hover:scale-105 duration-300 hover:bg-blue-400 hover:text-white" style="height: max-content;"><i class="fas fa-chevron-right"></i></p>
      </div> %>
    </div>
  </div>

  <%# Grid %>
  <div id="carousel" class="w-full overflow-hidden mt-0 grid md:grid-cols-2 lg:grid-cols-3 grid-rows-2 mx-auto" style="max-width: 1500px;">
    <% @projects.each_with_index do |project, index| %>
      <div id="project<%= index %>" class="rounded relative my-14 border-2 border-gray-100 mx-1 md:mx-3 p-2 transform duration-300 hover:scale-105 active:scale-105 hover:shadow-xl">
        <%# Hidden feature part %>
        <div id="feature<%= index %>" class="md:absolute flex flex-wrap md:w-60 m-10 md:m-0 z-50 p-5 <%= index % 3 == 0 ? "md:-top-60" : 'md:-left-60' %> tranform transition duration-300 hidden top-2 rounded md:border border-r-4 border-gray-200 shadow-xl" style="background-color: rgba(240,240,240,0.8)">
          <h1 class="w-full">Included Features</h1>
          <% languages = project[:languages].gsub(/\W/, ' ').split(" ") %>
          <% languages.each_with_index do |language, index| %>
            <p class="<%= @projectClasses %> bg-black">
              <% if language == "Slick" || language == "Styled" %>
                <%= language + " " + languages[index + 1] %>
              <% else %>
                <%= language unless language == "Carousel" || language == "Components" %>
              <% end %>
            </p>
          <% end %>
        </div>

        <%= image_tag(project[:image], class: "rounded-t h-52 object-cover mx-auto") %>
        <h1 class="mt-5 text-xl mx-3 text-blue-500"><%= project[:title] %></h1>
        <p class="mb-5 mt-2 mx-3 text-gray-600"><%= project[:description] %></p>
        <div class="flex justify-center border border-gray-200 rounded w-full">
          <% if project[:onGithub] %>
            <a href=<%= project[:githubLink] %> class="w-1/2 border-r border-gray-200 text-center py-2 hover:bg-blue-300 hover:text-white transform duration-300"><i class="fab fa-github"></i> GitHub</a>
          <% end %>
          <a id="resume" href=<%= project[:websiteLink] %> class="<%= project[:onGithub] ? "w-1/2" : "w-full" %> text-center py-2 hover:bg-blue-300 hover:text-white transform duration-300"><i class="far fa-eye"></i> Live Site</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# Experience and Education %>
<div class="bg-gray-100 pt-10 pb-20 mt-20 md:mt-32">
    <div class="mx-auto" style="max-width: 1800px;">
        <% 2.times do %>
            <h1 class="text-center text-4xl my-16 text-blue-400"><%= @title %></h1>

            <% @resumes.each do |w| %>
            <% if w[:education] == @activeEducation %>
                <div class="flex pl-8 pr-5 md:px-10 lg:px-20 my-5 relative" style="height: max-content">
                <p class="hidden md:flex md:mr-20 lg:mr-40 w-20 whitespace-nowrap"><%= w[:date] %></p>

                <div class="border-l-2 border-blue-400 relative w-full">
                    <p class="absolute -top-8 -left-5 border border-blue-400 rounded-full bg-white w-10 h-10 flex justify-center items-center"><i class="<%= @title == "Experience" ? "fas fa-briefcase" : "fas fa-user-graduate" %>"></i></p>

                    <div class="opacity-80 px-5 sm:px-10 py-5 rounded ml-10 md:ml-20 lg:ml-40 transform transition duration-300 hover:shadow-xl hover:scale-100" style="background-color: rgba(190,190,190,0.1)" >
                    <h1 class="text-xl"><%= w[:job] %></h1>
                    <h1 class="text-lg mb-5 text-blue-400"><%= w[:title] %></h1>
                    <% w[:description].split("$").each do |bulletPoint| %>
                        <% if bulletPoint.include?("Successful in the following modules") %>
                        <p class="text-xs sm:text-base mt-5 mb-2"><%= bulletPoint %></p>
                        <%  elsif bulletPoint.length >= 1 %>
                        <div class="ml-5 flex items-center text-gray-700">
                            <i class="fas fa-circle mr-5 text-gray-300" style="font-size: 6px;"></i><p class="text-xs sm:text-base"><%= bulletPoint %></p>
                        </div>
                        <% end %>
                    <% end %>
                    </div>
                </div>
                </div>
            <% end %>
            <% end %>

            <% @activeEducation = true %>
            <% @title = "Education" %>
        <% end %>
    </div>
</div>

<%# Check out Github %>
<div class="bg-black py-32 px-5 text-center w-full text-white text-4xl banner">
  <h1 class="mb-5">Want to see more? Check out my</h1>
  <a href="https://github.com/MarcusThorne" class="hover:bg-white hover:text-gray-800 hover:shadow-xl rounded transition duration-300 px-10 py-2 border border-white w-max mx-auto mt-5 text-2xl">GitHub</a>
</div>

<%# Contact info %>
<div id="contact" class="flex flex-col items-center justify-around my-20 space-y-5">
  <h1 class="text-3xl mb-10 uppercase">Contact</h1>
  <div class="flex">
    <div class="rounded-full border border-blue-400 w-14 text-2xl flex justify-center items-center h-14 flex justify-center items-center" ><i class="fas fa-phone-alt"></i></div>
    <a href="tel:+4407541152115" class="my-auto ml-5 text-blue-400 underline">+44 07541152115</a>
  </div>
  <div class="flex">
    <div class="rounded-full border border-blue-400 w-14 text-2xl flex justify-center items-center h-14 flex justify-center items-center" ><i class="fas fa-envelope"></i></div>
    <a href="mailto:marcus.thorne475@gmail.com" class="my-auto ml-5 text-blue-400 underline">marcusthorne096@gmail.com</a>
  </div>
  <div class="flex">
    <div class="rounded-full border border-blue-400 w-14 text-2xl flex justify-center items-center h-14 flex justify-center items-center" ><i class="fas fa-map-marker-alt"></i></div>
    <p class="my-auto ml-5">Barnstaple, Devon</p>
  </div>
</div>

<%# Socials %>
<div class="bg-blue-400 py-10 flex justify-center space-x-5 text-white">
  <a href="https://github.com/MarcusThorne" class="border-2 rounded-full text-xl w-12 h-12 border-white flex items-center justify-center transform hover:scale-110 transition duration-500"><i class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/marcus-thorne-a046541b4/" class="border-2 rounded-full text-xl w-12 h-12 border-white flex items-center justify-center transform hover:scale-110 transition duration-500"><i class="fab fa-linkedin-in"></i></a>
  <a href="#hero" id="backToTop" class="hidden fixed z-50 right-5 bottom-5 rounded-full bg-white opacity-90 shadow-xl p-2 text-gray-800 h-8 w-8 flex items-center justify-center text-xl"><i class="fas fa-chevron-up transform duration-300 transition hover:scale-110"></i></a>
</div>
